.navbar-bg-color {
    background-color: #c340e2;
    margin-bottom: 80px;
    height: 80px;
    font-weight: 700;
}

.slaider h5,
p {
    color: white;
}

.slaider img {
    height: 770px;
}

.gutter-gap {
    grid-column-gap: 40px;
}